In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
plt.style.use('ggplot')
# pd.set_option('max_columns', 40)

In [2]:
df = pd.read_csv('crime2018.csv')

# Step 1: Understanding of the dataset
.DataFrame Shape<br>
.head and tail<br>
.dtypes<br>
.describe<br>

In [3]:
df.shape

(127, 38)

In [4]:
df.head()

,Unnamed: 0,Unnamed: 1,REPORTED CASES,Unnamed: 3,Unnamed: 4,Unnamed: 5,PERFOMANCE,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,VICTIMS OF CRIME,NaN,NaN,NaN,VALUE PROPERTY(UGSHS.),NaN
1,NaN,NaN,Totals Cases,Cases under Inquiry,Not Detected/NPW,Cases taken to court,Cases submitted toDPP/RSA,Cases with convictions,Cases with Acquittals,Cases Dismissed,...,Probation Bound Over,CAUTION,COMM. WORK,Fines Awarded (UgShs.),Male Adult,Male Juven.,Female Adult,Female Juven.,Lost,Recovered
2,S/No.,CASE/CRIME INCIDENCES,1,2,3,4,5,6,7,8,...,18,19,20,21,NaN,NaN,NaN,22,23,24
3,NaN,HOMICIDES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,Death (by shooting),190,117,29,44,74,3,1,1,...,-,-,-,-,197,4,17,-,"11,500,000",-

In [5]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'REPORTED CASES', 'Unnamed: 3',
       'Unnamed: 4', 'Unnamed: 5', 'PERFOMANCE', 'Unnamed: 7', 'Unnamed: 8',
       'Unnamed: 9', 'Unnamed: 10', 'PERSONS TAKEN TO COURT', 'Unnamed: 12',
       'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16',
       'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20',
       'Unnamed: 21', 'SENTENCES IMPOSED BY COURTS', 'Unnamed: 23',
       'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27',
       'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31',
       'Unnamed: 32', 'Unnamed: 33', 'Unnamed: 34', 'Unnamed: 35',
       'Unnamed: 36', 'Unnamed: 37'],
      dtype='object')

In [6]:
df.dtypes

Unnamed: 0                     object
Unnamed: 1                     object
REPORTED CASES                 object
Unnamed: 3                     object
Unnamed: 4                     object
Unnamed: 5                     object
PERFOMANCE                     object
Unnamed: 7                     object
Unnamed: 8                     object
Unnamed: 9                     object
Unnamed: 10                    object
PERSONS TAKEN TO COURT         object
Unnamed: 12                    object
Unnamed: 13                    object
Unnamed: 14                    object
Unnamed: 15                    object
Unnamed: 16                    object
Unnamed: 17                    object
Unnamed: 18                    object
Unnamed: 19                    object
Unnamed: 20                    object
Unnamed: 21                    object
SENTENCES IMPOSED BY COURTS    object
Unnamed: 23                    object
Unnamed: 24                    object
Unnamed: 25                    object
Unnamed: 26                    object
Unnamed: 27                    object
Unnamed: 28                    object
Unnamed: 29                    object
Unnamed: 30                    object
Unnamed: 31                    object
Unnamed: 32                    object
Unnamed: 33                    object
Unnamed: 34                    object
Unnamed: 35                    object
Unnamed: 36                    object
Unnamed: 37                    object
dtype: object

In [7]:
df.describe()

,Unnamed: 0,Unnamed: 1,REPORTED CASES,Unnamed: 3,Unnamed: 4,Unnamed: 5,PERFOMANCE,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37
count,95,125,125,125,125,125,125,125,125,125,...,109,109,109,109,100,107,99,108,110,109
unique,95,125,104,95,89,89,98,66,41,60,...,15,46,51,68,91,50,75,45,66,55
top,S/No.,CASE/CRIME INCIDENCES,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
freq,1,1,17,18,24,20,19,34,55,39,...,77,40,38,36,4,33,11,50,41,53

# Step 2: Data preparation
-Dropping irrelevant columns and rows <br>
-Identifying duplicated columns<br>
-Renaming columns<br>
-Feature creation<br>

In [8]:
df.head()

,Unnamed: 0,Unnamed: 1,REPORTED CASES,Unnamed: 3,Unnamed: 4,Unnamed: 5,PERFOMANCE,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,VICTIMS OF CRIME,NaN,NaN,NaN,VALUE PROPERTY(UGSHS.),NaN
1,NaN,NaN,Totals Cases,Cases under Inquiry,Not Detected/NPW,Cases taken to court,Cases submitted toDPP/RSA,Cases with convictions,Cases with Acquittals,Cases Dismissed,...,Probation Bound Over,CAUTION,COMM. WORK,Fines Awarded (UgShs.),Male Adult,Male Juven.,Female Adult,Female Juven.,Lost,Recovered
2,S/No.,CASE/CRIME INCIDENCES,1,2,3,4,5,6,7,8,...,18,19,20,21,NaN,NaN,NaN,22,23,24
3,NaN,HOMICIDES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,Death (by shooting),190,117,29,44,74,3,1,1,...,-,-,-,-,197,4,17,-,"11,500,000",-

In [9]:
df[['Unnamed: 0', 'Unnamed: 1', 'REPORTED CASES', 'Unnamed: 3',
       'Unnamed: 4', 'Unnamed: 5', 'PERFOMANCE', 'Unnamed: 7', 'Unnamed: 8',
       'Unnamed: 9', 'Unnamed: 10', 'PERSONS TAKEN TO COURT', 'Unnamed: 12',
       'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16',
       'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20',
       'Unnamed: 21', 'SENTENCES IMPOSED BY COURTS', 'Unnamed: 23',
       'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27',
       'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31',
       'Unnamed: 32', 'Unnamed: 33', 'Unnamed: 34', 'Unnamed: 35',
       'Unnamed: 36', 'Unnamed: 37']]

,Unnamed: 0,Unnamed: 1,REPORTED CASES,Unnamed: 3,Unnamed: 4,Unnamed: 5,PERFOMANCE,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,VICTIMS OF CRIME,NaN,NaN,NaN,VALUE PROPERTY(UGSHS.),NaN
1,NaN,NaN,Totals Cases,Cases under Inquiry,Not Detected/NPW,Cases taken to court,Cases submitted toDPP/RSA,Cases with convictions,Cases with Acquittals,Cases Dismissed,...,Probation Bound Over,CAUTION,COMM. WORK,Fines Awarded (UgShs.),Male Adult,Male Juven.,Female Adult,Female Juven.,Lost,Recovered
2,S/No.,CASE/CRIME INCIDENCES,1,2,3,4,5,6,7,8,...,18,19,20,21,NaN,NaN,NaN,22,23,24
3,NaN,HOMICIDES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,Death (by shooting),190,117,29,44,74,3,1,1,...,-,-,-,-,197,4,17,-,"11,500,000",-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,98,UWA Statute,648,112,89,447,485,269,8,26,...,-,15,10,"172,222,000",608,-,8,-,"26,000,000","26,000,000"
123,99,Local Government Act,4,2,1,1,1,-,-,-,...,-,-,-,-,4,-,-,-,-,-
124,100,All other Acts,821,345,189,287,430,173,7,19,...,21,41,60,"69,060,000",710,10,62,9,"241,790,000","440,000"
125,NaN,Sub Total(Other Laws),"3,006",749,620,"1,637","1,885",991,24,127,...,21,292,123,"518,202,000","2,676",10,115,9,"274,390,000","26,440,000"
126,NaN,GRAND TOTAL,"238,746","90,763","74,948","73,035","101,116","22,263","1,248","11,121",...,83,"2,976","4,373","1,270,978,007","143,880","10,772","60,648","24,184","495,067,703,285","60,589,926,327"

In [10]:
df = df.rename(columns = {
    'Unnamed: 0': 'Zero',
    'Unnamed: 1': 'One', 
    'Unnamed: 3': 'Three',
    'Unnamed: 4': 'Four', 
    'Unnamed: 5': 'Five',  
    'Unnamed: 7': 'Seven', 
    'Unnamed: 8': 'Eight',
    'Unnamed: 9': 'Nine', 
    'Unnamed: 10': 'Ten',
    'Unnamed: 12': 'Twelve',
    'Unnamed: 13': 'Thirteen', 
    'Unnamed: 14': 'Fourteen', 
    'Unnamed: 15': 'Fiftee', 
    'Unnamed: 16': 'Sixteen',
    'Unnamed: 17': 'Seventeen', 
    'Unnamed: 18': 'Eighteen',
    'Unnamed: 19': 'Nineteen', 
    'Unnamed: 20': 'Twenty',
    'Unnamed: 21': 'Twenty_One', 
    'Unnamed: 23': 'Twenty_Three',
    'Unnamed: 24': 'Twenty_Four', 
    'Unnamed: 25': 'Twenty_Five', 
    'Unnamed: 26': 'Twenty_, Six',
    'Unnamed: 27': 'Twenty_Seven',
    'Unnamed: 28': 'Twenty_Eight', 
    'Unnamed: 29': 'Twenty_Nine', 
    'Unnamed: 30': 'Thirty', 
    'Unnamed: 31': 'Thirty_One',
    'Unnamed: 32': 'Thirty_Two', 
    'Unnamed: 33': 'Thirty_Three', 
    'Unnamed: 34': 'Thirty_Four', 
    'Unnamed: 35': 'Thirty_Five',
    'Unnamed: 36': 'Thirty_Six', 
    'Unnamed: 37': 'Thirty_Seven'
})

In [11]:
df.isna().sum()

Zero                           32
One                             2
REPORTED CASES                  2
Three                           2
Four                            2
Five                            2
PERFOMANCE                      2
Seven                           2
Eight                           2
Nine                            2
Ten                             2
PERSONS TAKEN TO COURT          1
Twelve                          3
Thirteen                        3
Fourteen                        3
Fiftee                          1
Sixteen                         3
Seventeen                       3
Eighteen                        3
Nineteen                       18
Twenty                         18
Twenty_One                     18
SENTENCES IMPOSED BY COURTS    18
Twenty_Three                   19
Twenty_Four                    19
Twenty_Five                    18
Twenty_, Six                   18
Twenty_Seven                   18
Twenty_Eight                   18
Twenty_Nine                    18
Thirty                         18
Thirty_One                     18
Thirty_Two                     27
Thirty_Three                   20
Thirty_Four                    28
Thirty_Five                    19
Thirty_Six                     17
Thirty_Seven                   18
dtype: int64

In [12]:
df.loc[~df.duplicated(subset=['One', 'Five', 'Twenty_Five', 'Thirty_Four'])]

,Zero,One,REPORTED CASES,Three,Four,Five,PERFOMANCE,Seven,Eight,Nine,...,Twenty_Eight,Twenty_Nine,Thirty,Thirty_One,Thirty_Two,Thirty_Three,Thirty_Four,Thirty_Five,Thirty_Six,Thirty_Seven
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,VICTIMS OF CRIME,NaN,NaN,NaN,VALUE PROPERTY(UGSHS.),NaN
1,NaN,NaN,Totals Cases,Cases under Inquiry,Not Detected/NPW,Cases taken to court,Cases submitted toDPP/RSA,Cases with convictions,Cases with Acquittals,Cases Dismissed,...,Probation Bound Over,CAUTION,COMM. WORK,Fines Awarded (UgShs.),Male Adult,Male Juven.,Female Adult,Female Juven.,Lost,Recovered
2,S/No.,CASE/CRIME INCIDENCES,1,2,3,4,5,6,7,8,...,18,19,20,21,NaN,NaN,NaN,22,23,24
3,NaN,HOMICIDES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,Death (by shooting),190,117,29,44,74,3,1,1,...,-,-,-,-,197,4,17,-,"11,500,000",-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,98,UWA Statute,648,112,89,447,485,269,8,26,...,-,15,10,"172,222,000",608,-,8,-,"26,000,000","26,000,000"
123,99,Local Government Act,4,2,1,1,1,-,-,-,...,-,-,-,-,4,-,-,-,-,-
124,100,All other Acts,821,345,189,287,430,173,7,19,...,21,41,60,"69,060,000",710,10,62,9,"241,790,000","440,000"
125,NaN,Sub Total(Other Laws),"3,006",749,620,"1,637","1,885",991,24,127,...,21,292,123,"518,202,000","2,676",10,115,9,"274,390,000","26,440,000"
126,NaN,GRAND TOTAL,"238,746","90,763","74,948","73,035","101,116","22,263","1,248","11,121",...,83,"2,976","4,373","1,270,978,007","143,880","10,772","60,648","24,184","495,067,703,285","60,589,926,327"

In [13]:
df.drop_duplicates()

,Zero,One,REPORTED CASES,Three,Four,Five,PERFOMANCE,Seven,Eight,Nine,...,Twenty_Eight,Twenty_Nine,Thirty,Thirty_One,Thirty_Two,Thirty_Three,Thirty_Four,Thirty_Five,Thirty_Six,Thirty_Seven
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,VICTIMS OF CRIME,NaN,NaN,NaN,VALUE PROPERTY(UGSHS.),NaN
1,NaN,NaN,Totals Cases,Cases under Inquiry,Not Detected/NPW,Cases taken to court,Cases submitted toDPP/RSA,Cases with convictions,Cases with Acquittals,Cases Dismissed,...,Probation Bound Over,CAUTION,COMM. WORK,Fines Awarded (UgShs.),Male Adult,Male Juven.,Female Adult,Female Juven.,Lost,Recovered
2,S/No.,CASE/CRIME INCIDENCES,1,2,3,4,5,6,7,8,...,18,19,20,21,NaN,NaN,NaN,22,23,24
3,NaN,HOMICIDES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,Death (by shooting),190,117,29,44,74,3,1,1,...,-,-,-,-,197,4,17,-,"11,500,000",-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,98,UWA Statute,648,112,89,447,485,269,8,26,...,-,15,10,"172,222,000",608,-,8,-,"26,000,000","26,000,000"
123,99,Local Government Act,4,2,1,1,1,-,-,-,...,-,-,-,-,4,-,-,-,-,-
124,100,All other Acts,821,345,189,287,430,173,7,19,...,21,41,60,"69,060,000",710,10,62,9,"241,790,000","440,000"
125,NaN,Sub Total(Other Laws),"3,006",749,620,"1,637","1,885",991,24,127,...,21,292,123,"518,202,000","2,676",10,115,9,"274,390,000","26,440,000"
126,NaN,GRAND TOTAL,"238,746","90,763","74,948","73,035","101,116","22,263","1,248","11,121",...,83,"2,976","4,373","1,270,978,007","143,880","10,772","60,648","24,184","495,067,703,285","60,589,926,327"

In [14]:
df = df.fillna('')
df

,Zero,One,REPORTED CASES,Three,Four,Five,PERFOMANCE,Seven,Eight,Nine,...,Twenty_Eight,Twenty_Nine,Thirty,Thirty_One,Thirty_Two,Thirty_Three,Thirty_Four,Thirty_Five,Thirty_Six,Thirty_Seven
0,,,,,,,,,,,...,,,,,VICTIMS OF CRIME,,,,VALUE PROPERTY(UGSHS.),
1,,,Totals Cases,Cases under Inquiry,Not Detected/NPW,Cases taken to court,Cases submitted toDPP/RSA,Cases with convictions,Cases with Acquittals,Cases Dismissed,...,Probation Bound Over,CAUTION,COMM. WORK,Fines Awarded (UgShs.),Male Adult,Male Juven.,Female Adult,Female Juven.,Lost,Recovered
2,S/No.,CASE/CRIME INCIDENCES,1,2,3,4,5,6,7,8,...,18,19,20,21,,,,22,23,24
3,,HOMICIDES,,,,,,,,,...,,,,,,,,,,
4,1,Death (by shooting),190,117,29,44,74,3,1,1,...,-,-,-,-,197,4,17,-,"11,500,000",-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,98,UWA Statute,648,112,89,447,485,269,8,26,...,-,15,10,"172,222,000",608,-,8,-,"26,000,000","26,000,000"
123,99,Local Government Act,4,2,1,1,1,-,-,-,...,-,-,-,-,4,-,-,-,-,-
124,100,All other Acts,821,345,189,287,430,173,7,19,...,21,41,60,"69,060,000",710,10,62,9,"241,790,000","440,000"
125,,Sub Total(Other Laws),"3,006",749,620,"1,637","1,885",991,24,127,...,21,292,123,"518,202,000","2,676",10,115,9,"274,390,000","26,440,000"
126,,GRAND TOTAL,"238,746","90,763","74,948","73,035","101,116","22,263","1,248","11,121",...,83,"2,976","4,373","1,270,978,007","143,880","10,772","60,648","24,184","495,067,703,285","60,589,926,327"

In [15]:
for x in df.index:
    if df.loc[x, "One"] == '':
        df.drop(x, inplace=True)
        
df

,Zero,One,REPORTED CASES,Three,Four,Five,PERFOMANCE,Seven,Eight,Nine,...,Twenty_Eight,Twenty_Nine,Thirty,Thirty_One,Thirty_Two,Thirty_Three,Thirty_Four,Thirty_Five,Thirty_Six,Thirty_Seven
2,S/No.,CASE/CRIME INCIDENCES,1,2,3,4,5,6,7,8,...,18,19,20,21,,,,22,23,24
3,,HOMICIDES,,,,,,,,,...,,,,,,,,,,
4,1,Death (by shooting),190,117,29,44,74,3,1,1,...,-,-,-,-,197,4,17,-,"11,500,000",-
5,2,Death (by mob action),636,431,109,96,176,2,-,1,...,-,-,-,-,619,11,25,1,-,-
6,3,Death (Poisoning),81,54,12,15,17,-,-,-,...,-,-,-,-,65,9,14,4,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,98,UWA Statute,648,112,89,447,485,269,8,26,...,-,15,10,"172,222,000",608,-,8,-,"26,000,000","26,000,000"
123,99,Local Government Act,4,2,1,1,1,-,-,-,...,-,-,-,-,4,-,-,-,-,-
124,100,All other Acts,821,345,189,287,430,173,7,19,...,21,41,60,"69,060,000",710,10,62,9,"241,790,000","440,000"
125,,Sub Total(Other Laws),"3,006",749,620,"1,637","1,885",991,24,127,...,21,292,123,"518,202,000","2,676",10,115,9,"274,390,000","26,440,000"
126,,GRAND TOTAL,"238,746","90,763","74,948","73,035","101,116","22,263","1,248","11,121",...,83,"2,976","4,373","1,270,978,007","143,880","10,772","60,648","24,184","495,067,703,285","60,589,926,327"

In [16]:
for x in df.index:
    if df.loc[x, "Zero"] == '':
        df.drop(x, inplace=True)
        
df

,Zero,One,REPORTED CASES,Three,Four,Five,PERFOMANCE,Seven,Eight,Nine,...,Twenty_Eight,Twenty_Nine,Thirty,Thirty_One,Thirty_Two,Thirty_Three,Thirty_Four,Thirty_Five,Thirty_Six,Thirty_Seven
2,S/No.,CASE/CRIME INCIDENCES,1,2,3,4,5,6,7,8,...,18,19,20,21,,,,22,23,24
4,1,Death (by shooting),190,117,29,44,74,3,1,1,...,-,-,-,-,197,4,17,-,"11,500,000",-
5,2,Death (by mob action),636,431,109,96,176,2,-,1,...,-,-,-,-,619,11,25,1,-,-
6,3,Death (Poisoning),81,54,12,15,17,-,-,-,...,-,-,-,-,65,9,14,4,-,-
7,4,Death (Aggravated Domestic Violence),362,107,24,231,239,15,-,2,...,-,-,-,-,174,25,138,16,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,96,Firearms Act,109,38,23,48,54,17,-,3,...,-,1,-,"16,000,000",95,-,2,-,-,-
121,97,Enguli Act,4,3,1,-,-,-,-,-,...,-,-,-,-,5,-,-,-,-,-
122,98,UWA Statute,648,112,89,447,485,269,8,26,...,-,15,10,"172,222,000",608,-,8,-,"26,000,000","26,000,000"
123,99,Local Government Act,4,2,1,1,1,-,-,-,...,-,-,-,-,4,-,-,-,-,-
124,100,All other Acts,821,345,189,287,430,173,7,19,...,21,41,60,"69,060,000",710,10,62,9,"241,790,000","440,000"

In [17]:
for x in df.index:
    if df.loc[x, "REPORTED CASES"] == '':
        df.drop(x, inplace=True)
        
df

,Zero,One,REPORTED CASES,Three,Four,Five,PERFOMANCE,Seven,Eight,Nine,...,Twenty_Eight,Twenty_Nine,Thirty,Thirty_One,Thirty_Two,Thirty_Three,Thirty_Four,Thirty_Five,Thirty_Six,Thirty_Seven
2,S/No.,CASE/CRIME INCIDENCES,1,2,3,4,5,6,7,8,...,18,19,20,21,,,,22,23,24
4,1,Death (by shooting),190,117,29,44,74,3,1,1,...,-,-,-,-,197,4,17,-,"11,500,000",-
5,2,Death (by mob action),636,431,109,96,176,2,-,1,...,-,-,-,-,619,11,25,1,-,-
6,3,Death (Poisoning),81,54,12,15,17,-,-,-,...,-,-,-,-,65,9,14,4,-,-
7,4,Death (Aggravated Domestic Violence),362,107,24,231,239,15,-,2,...,-,-,-,-,174,25,138,16,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,96,Firearms Act,109,38,23,48,54,17,-,3,...,-,1,-,"16,000,000",95,-,2,-,-,-
121,97,Enguli Act,4,3,1,-,-,-,-,-,...,-,-,-,-,5,-,-,-,-,-
122,98,UWA Statute,648,112,89,447,485,269,8,26,...,-,15,10,"172,222,000",608,-,8,-,"26,000,000","26,000,000"
123,99,Local Government Act,4,2,1,1,1,-,-,-,...,-,-,-,-,4,-,-,-,-,-
124,100,All other Acts,821,345,189,287,430,173,7,19,...,21,41,60,"69,060,000",710,10,62,9,"241,790,000","440,000"

In [18]:
df.reset_index(drop=True)

,Zero,One,REPORTED CASES,Three,Four,Five,PERFOMANCE,Seven,Eight,Nine,...,Twenty_Eight,Twenty_Nine,Thirty,Thirty_One,Thirty_Two,Thirty_Three,Thirty_Four,Thirty_Five,Thirty_Six,Thirty_Seven
0,S/No.,CASE/CRIME INCIDENCES,1,2,3,4,5,6,7,8,...,18,19,20,21,,,,22,23,24
1,1,Death (by shooting),190,117,29,44,74,3,1,1,...,-,-,-,-,197,4,17,-,"11,500,000",-
2,2,Death (by mob action),636,431,109,96,176,2,-,1,...,-,-,-,-,619,11,25,1,-,-
3,3,Death (Poisoning),81,54,12,15,17,-,-,-,...,-,-,-,-,65,9,14,4,-,-
4,4,Death (Aggravated Domestic Violence),362,107,24,231,239,15,-,2,...,-,-,-,-,174,25,138,16,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,96,Firearms Act,109,38,23,48,54,17,-,3,...,-,1,-,"16,000,000",95,-,2,-,-,-
91,97,Enguli Act,4,3,1,-,-,-,-,-,...,-,-,-,-,5,-,-,-,-,-
92,98,UWA Statute,648,112,89,447,485,269,8,26,...,-,15,10,"172,222,000",608,-,8,-,"26,000,000","26,000,000"
93,99,Local Government Act,4,2,1,1,1,-,-,-,...,-,-,-,-,4,-,-,-,-,-
94,100,All other Acts,821,345,189,287,430,173,7,19,...,21,41,60,"69,060,000",710,10,62,9,"241,790,000","440,000"